div{
          
    margin-bottom: 3rem;
}
.container {

    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form{
    width: 600px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 3rem;
    border: 2px solid rgb(0, 0, 0);
 
}
.selled-product-list{
    list-style-type: none;
    width: 600px;
    margin-top: 10px;

    border-radius: 20px;
    padding: 3rem;
    border: 2px solid rgb(0, 0, 0);
}
li{
    font-weight: bold;
    padding: 3px;
    border-radius: 4px;
    margin: 5px;
    border: 1px solid black;
}
.deleteButton{
    border: none;
    margin-left: 15px;
    border-radius: 100px;
    padding: 3px 7px;
    background-color: rgb(194, 26, 26);
    color: rgb(255, 255, 255) ;
    font-weight: bold;
}
.deleteButton:hover{
    border: 1px dashed black;
}
.total-section{
    border-radius: 20px;
    padding: 20px;
    border: 2px solid black;
}