div{
          
    margin-bottom: 3rem;
}
.container {

    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form{
    width: 600px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 3rem;
    border: 1px solid rgb(10, 158, 111);
 
}
.home-list{
    width: 600px;
    margin-top: 10px;

    border-radius: 10px;
    padding: 3rem;
    border: 1px solid rgb(10, 158, 111);
}
span{
    margin-top: 10px;
    border-radius: 10px;
    padding: 3px 7px;
    color: rgb(255, 255, 255) ;
}
li{
    margin-top: 10px;
}
.homeDiv{
    border: 1px solid green;
    border-radius: 10px;
    padding: 10px;
}
.deleteButton{
    margin-top: 5px;
    border-radius: 5px;
    padding: 3px 7px;
    background-color: rgb(204, 74, 74);
    color: rgb(255, 255, 255) ;
}